<%-include('../../partials/header.ejs')%>
    <body>
        <%-include('../../partials/navbar.ejs')%>
        <section class ="container" id="container-category-new">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h5>Nova categoria</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="/categories/save">
                        <input class="form-control" type="text" id="title" name="title" placeholder="Título da categoria" required>
                        <% if (typeof deExists !== 'undefined' && deExists === true) { %>
                            <label class="msgError">Esta categoria já existe</label>
                            <br>
                        <% } %>
                        <br>
                        <button class="btn btn-dark" type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
        </section>
    </body>
<%-include('../../partials/footer.ejs')%>