<%-include('../../partials/header.ejs')%>
    <body>
        <%-include('../../partials/homenavbar.ejs')%>
        <section class="container" id="container-users-login">
            <br><br><br>
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Entrar</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/autheticate"> 
                        <label>E-mail</label>
                        <input class="form-control" type="email" name="email" placeholder="email@exemplo.com" required>
                        <label>Senha</label>
                        <input class="form-control" type="password" name="password" placeholder="**********"required>
                        <br>
                        <button class="btn btn-dark w-100" type="submit">Logar</button>
                        <br><br>
                        <a class="a-create-user" href="/admin/users/create">Criar novo usuário</a>
                    </form>
                </div>
            </div>
        </section>
    </body>
<%-include('../../partials/footer.ejs')%>